@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.css");

.buttonLabel {
    padding-right: 10px;
}

.hybridButton {
    height: 50px;
    width: 75px;
    font-size: 15px;
    font-family: var(--global-font-family,'serif');
    border-radius: 8px;
    color: var(--global-primary-color, slateblue);
    background-color: white;
}

.buttonIcon {
    color: var(--global-primary-color, slateblue);
}