@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.css");

.buttonLabel {
    padding-right: 10px;
}

.hybridButton {
    height: 50px;
    width: 75px;
    font-size: 15px;
    border-radius: 8px;
    color: slateblue;
    background-color: white;
}

.buttonIcon {
    color: slateblue;

}