<style>
    my-input-field {
      --global-font-family: {{val1}};
      --global-font-size: {{val2}};
    }
  </style>
  
<h3>Angular + Stencil</h3>

<label>Select Font Style:</label>
<select id="font-style" ng-model = "globalFontFamily" (change) = "fontChanged()">
    <option value="sans-serif">Select Style</option>
    <option value="Comic Sans MS">Comic Sans MS</option>
    <option value="Helvetica">Helvetica</option>
    <option value="Courier New">Courier New</option>
    <option value="monospace">monospace</option>
    <option value="Arial Black">Arial Black</option>
    <option value="Cursive">cursive</option>
  </select>

<label>Select Font Size:</label>
<select id="font-size" ng-model = "globalFontSize" (change) = "sizeChanged()">
    <option value="5">Select Size</option>
    <option value="10">10 px</option>
    <option value="20">20 px</option>
    <option value="30">30 px</option>
    <option value="40">40 px</option>
    <option value="50">50 px</option>
  </select>

<hr/>
<my-input-field label-Text="Enter Your Text : " place-Holder="Enter Text..."></my-input-field>
<custom-button icon-name="fas fa-caret-right" button-text="Login"></custom-button>
<br />
